<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>Activities List</title>
    </head>
    <body>
        <div id="vueApp">
            <h1>Activities List: </h1>
            <form @submit.prevent="addActivity">
                <input v-model="newActivity">
                <button>Add Activity</button><br>
            </form>

            <ul>
                <li v-for="activity in activities">
                    {{ activity.text }}
                    <input v-if="!activity.status" type="checkbox" @click="finishActivity(activity)">
                    <input v-else type="checkbox" @click="finishActivity(activity)" checked>
                    <button @click="deleteActivity(activity)">X</button>
                </li>
            </ul>

        </div>


        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
